@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e9e9e9aa), color-stop(50%, #fff));
  background: linear-gradient(90deg, #e9e9e9aa 50%, #fff 50%);
}

.right,
.left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left {
  background-color: #fff;
}

h2 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 200;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
}

.score-g {
  font-size: 7em;
  color: #eb4d4c;
}

.win {
  -webkit-animation: blink 500ms infinite;
          animation: blink 500ms infinite;
}

.round {
  background-color: #eb4d4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 1.5em;
}

.round h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}

.score-r {
  color: #fff;
  font-size: 3em;
  font-weight: 200;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: "Lato";
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px 1fr;
      grid-template-columns: 1fr 200px 1fr;
}

.middle {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "top" "bottom";
}

.middle .start-game {
  font-size: 2em;
  font-weight: 300;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  height: 25%;
}

.middle .btn-group {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle .btn-group button {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 300;
}

@-webkit-keyframes blink {
  from {
    background-color: black;
    color: #fff;
  }
  to {
    background-color: unset;
    color: #eb4d4c;
  }
}

@keyframes blink {
  from {
    background-color: black;
    color: #fff;
  }
  to {
    background-color: unset;
    color: #eb4d4c;
  }
}
