@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,200&display=swap");

$color-pink: #eb4d4c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e9e9e9aa 50%, #fff 50%);
}

h2 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 200;
}

.top {
  font-weight: 200;
}

.score-g {
  font-size: 7em;
  color: $color-pink;
}

.round {
  background-color: $color-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em 1.5em;

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.score-r {
  color: #fff;
  font-size: 3em;
  font-weight: 200;
}

button {
  background: none;
  border: none;
  outline: none;
  font-weight: 200;
  font-family: "Lato";
  transition: color 300ms ease-in-out;
  &:hover {
    color: $color-pink;
  }
}

i {
  color: $color-pink;
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 5em;
  }
  body {
    background: none;
  }
}
