@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,200&display=swap");

$color-pink: #eb4d4c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #e9e9e9aa 50%, #fff 50%);
}

.right,
.left {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.left {
  background-color: #fff;
}

h2 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 200;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.score-g {
  font-size: 7em;
  color: $color-pink;
}

.win {
  animation: blink 500ms infinite;
}

.round {
  background-color: $color-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em 1.5em;

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
  }
}

.score-r {
  color: #fff;
  font-size: 3em;
  font-weight: 200;
}

button {
  background: none;
  border: none;
  font-family: "Lato";
}

body {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
}

.middle {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "top"
    "bottom";
  .start-game {
    font-size: 2em;
    font-weight: 300;
    grid-area: top;
    height: 25%;
  }
  .btn-group {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      font-size: 2em;
      margin-bottom: 1em;
      font-weight: 300;
    }
  }
}

@keyframes blink {
  from {
    background-color: black;
    color: #fff;
  }
  to {
    background-color: unset;
    color: #eb4d4c;
  }
}
